@model IEnumerable<Servicio>

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <title>CAR-DETAILING</title>

    <link href='../Views/Css/HomeIndex.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/home.css">



</head>


<body>

    <div class="container m-0 p-0 border-0 alturaBanner">
        <div class="card bg-dark text-white">
            <img src="~/Imagenes/Banner.jpg" class="card-img" alt="imagen de banner">
            <div class="card-img-overlay text-center align-content-between">
                <h1 class="card-title">CAR DETAILING</h1>
                <h2 class="card-text">SERVICIOS</h2>
                <h6 class="card-text">PODEMOS PONER OTRA COSA ACA</h6>
            </div>
        </div>
    </div>

    @*
    <div class="container-fluid" id="banner">


        <h1>SERVICIOS</h1>

        <p>Reservá tu turno</p>

        <p>

            <a href="#">Comencemos</a>

        </p>

    </div>

    <table>
       
            @foreach (var item in Model)
            {
            <td>
                 <tr>
                    <label>@item.NombreServicio</label>
                 <tr>
                 <tr>
                    <label>@item.DescripcionServicio</label>
                </tr>
                <tr>
                    <label>@item.Precio</label>
                </tr>
            </td>
                
            }
    </table>
       
   <div class="container">
        @foreach (var item in Model)
        {
            <div class="col-3 d-inline">
                <p>@item.NombreServicio</p>
                <p>@item.DescripcionServicio</p>
                <p>@item.Precio</p>
            </div>
        }
   </div>

   <table>
     @foreach (var item in Model)
        {
            <tr>
                
                <td class="col-3">
                    <img src="Imagenes/Img1.jpg" alt="foto Servicio" style="width:18%"/>
                </td>
                <td class ="col-3">
                    <p>@item.NombreServicio</p>
                </td>
                <td class="col-3">
                    <p>@item.DescripcionServicio</p>
                </td>
                <td class="col-3">
                   <p>$ @item.Precio</p>
                </td>
                <td class="p-3">
                    <a class="btn btn-primary" asp-action="Redirigir" asp-route-id="@item.IdServicio">
                        RESERVAR
                    </a>
                </td>
            </tr>
        }
   </table>
    *@

    <div class="card-group mt-5">
        @foreach (var item in Model)        {
            <div class="card p-1 border border-1 rounded-3 p-1 m-1">
               
                @*
                prueba 1
                
                agregar a la base de datos los nombres de las imagenes y pornelos en src de la img (aca abajo)
                no funciono
                <img src="@item.nombreImagen" class="card-img-top" alt="imagen-servicio">
               
                prueba 2

                probe con un switch y con el @item.id y no funciono
                switch(item.IdServicio)
                {
                case: 1: <img src="~/Imagenes/acrilico.jpg" class="card-img-top" alt="imagen-servicio">
                @break;
                case: 2: <img src="~/Imagenes/lustrado.jpg" class="card-img-top" alt="imagen-servicio">
                @break;
                ase: 3: <img src="~/Imagenes/ceramico.png" class="card-img-top" alt="imagen-servicio">
                @break;
                case: 4: <img src="~/Imagenes/otro.jpg" class="card-img-top" alt="imagen-servicio">
                @break;
                }*@


                <img src="~/Imagenes/ceramico.png" class="card-img-top h-50" alt="imagen-servicio">
                
                <div class="card-body h-50">
                    <h5 class="card-title text-center">@item.NombreServicio</h5>
                    <p class="card-text text-center">@item.DescripcionServicio</p>
                    <p class="card-text text-center font-weight-bold">$ @item.Precio</p>
                    <a class=" col-12 btn btn-primary " asp-action="Redirigir" asp-route-id="@item.IdServicio">
                        RESERVAR
                    </a>
                </div>
            </div>
        }
    </div>






@*
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div>                                           
                    <img src="./Views/Imagenes" alt="SERVICIO 1" width="10">

                    <h2>@Model.</h2>
                    <p>Una página rápida, <strong>muy rápida</strong> la página</p>                    
                    <form asp-action="Redirigir">
                        <button type="submit" class="btn btn-primary">RESERVAR</button>
                    </form>
                </div>
         </div>

            <div class="col-xs-12 col-sm-6 col-md-3">



                <div>

                    <img src="./Views/Imagenes/Img2.jpg" alt="SERVICIO 2" width="100">

                    <h2>SERVICIO 2</h2>

                    <p>Una página simple, <strong>muy simple</strong> la página</p>
                    <form asp-action="Redirigir">
                        <button type="submit" class="btn btn-primary">RESERVAR</button>
                    </form>


                </div>


            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div>

                    <img src="./Views/Imagenes/Img3.jpg" alt="SERVICIO 3" width="100">

                    <h2>SERVICIO 3</h2>

                    <p>Una página increíble, <strong>muy increíble</strong> la página</p>
                    <form asp-action="Redirigir">
                        <button type="submit" class="btn btn-primary">RESERVAR</button>
                    </form>


                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div>

                    <img src="./Views/Imagenes/Img4.jpg" alt="SERVICIO 4" width="100">

                    <h2>SERVICIO 4</h2>

                    <p>Una página linda, <strong>muy linda</strong> la página</p>
                    <form asp-action="Redirigir">
                        <button type="submit" class="btn btn-primary">RESERVAR</button>
                    </form>


                </div>

            </div>

        </div>

    </div>*@

    <div class="container mt-5 mb-5" id="footer">

        

        <div class="row">
            <div class="col-auto">
                <p>seguinos en nuestras redes</p>
            </div>

            <div class="col-auto"><a href="#"><i class="fa fa-youtube"></i></a></div>

            <div class="col-auto" ><a href="#"><i class="fa fa-facebook"></i></a></div>

            <div class="col-auto" ><a href="#"><i class="fa fa-twitter"></i></a></div>

            <div class="col-auto"><a href="#"><i class="fa fa-github"></i></a></div>

        </div>

    </div>



</body>



</html>
