@model Cliente

<h1>CONFIRMAR DATOS</h1>

    <div class="form-group">
        <label class="control-label">SERVICIO</label>
        <input placeholder="@ViewBag.nombreServicio" class="form-control" disabled />

    </div>

    <div class="form-group">
        <label class="control-label">MAIL</label>
        <input placeholder="@Model.Email" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label class="control-label">NOMBRE</label>
        <input placeholder="@Model.Nombre" class="form-control" disabled />

    </div>
    
    <div class="form-group">
        <label class="control-label">APELLIDO</label>
        <input placeholder="@Model.Apellido" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label class="control-label">TELEFONO</label>
        <input placeholder="@Model.Telefono" class="form-control" disabled />

    </div>

    <a class="btn btn-primary" asp-action="RedirigirCl">
    RESERVAR
    </a>


